
h1 {  
    
    color: rgb(201, 40, 179);
    font-size: 300%;
    font-family:fantasy;
    text-align: center;

} 

.last-hr { margin-top: 12%;
        
}
body {
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color:rgb(240, 193, 229)
}
.box1 {
    
    background-color: rgba(14, 11, 11, 0.24);
    border-radius: 10%;
    
    
}
q,b {
    text-align: center ;
    margin-left: 10%;
}
.box2 {
    
    background-color: rgba(14, 11, 11, 0.24);
    border-radius: 5%;
    padding-left: 5%;
}
.box3{
   font-size:large;
   font-weight: 200;
}
img {border-radius: 10%; }