body {
    padding: 20px 250px;
    margin: 0;
    font-size: 22px;
    background-color: #212b2d;
    color: white;
  }
  
  #main-menu li a {
    color: white;
  }
  
  .NavBar ul {
    background-color: #333d3f;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    padding: 15px;
    text-align: center;
  }
  .NavBar li {
    border-right: rgba(255, 255, 255, 0.527) 1px solid;
  
    
  }
  .NavBar li a {
    color: white;
    text-decoration: none;

  }
  #last {
    border-right: none;
  }
  
  #main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
  }
  
  #main-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  #main-bottom .subscription {
    border-right: rgba(255, 255, 255, 0.527) 1px solid;
    margin: 0 20px;
  }
  
  #main-bottom button {
    background-color: #98aaae;
    padding: 20px;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
  }
  
  footer {
    border-top: rgba(255, 255, 255, 0.527) 1px solid;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  #contant {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
  
  
  #contant button {
    background-color: #98aaae;
    width: 20%;
    padding: 10px;
    margin: 10px auto 0 auto;
  }
  .form { 
    align-content: center;
    padding-left: 10%;
    background-color: rgba(14, 11, 11, 0.24);
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #edit {
    height: 50%;
    width : 50%;
    padding: 25px;
    margin-top: 20px;
   border-radius: 10%;
    
  }
  #input-submit{
    margin: 20px;
    padding: 50px;
    border-radius: 40% ;
    background-color: #333d3f;
    font-weight: 300;
  }